@charset "utf-8";
p {
	color: #3200FF;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-size: large;
	width: 300px;
	text-align: center;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
#Picture {
	left: 25px;
}
#text {
	font-size: large;
}
#banner {
	width: 900px;
	height: 300px;
	left: auto;
	right: auto;
	margin-left: auto;
	margin-right: auto;
}
#ballet img {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height: 400px;
	background-color: #9A9A9A;
	text-align: center;
}
