@charset "utf-8";
#text {
	color: #FB0B0F;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: oblique;
	font-weight: 400;
	background-color: #D7C2C3;
}
